<div class="col-md-3 col-sd-5 thumbnail">
  CL2
  <%= line_chart @cl2_data, height: "200px" %>
</div>
<div class="col-md-3 col-sd-5 thumbnail">
  PH
  <%= line_chart @ph_data, height: "200px" %>
</div>
<div class="col-md-3 col-sd-5 thumbnail">
  KH
  <%= line_chart @kh_data, height: "200px" %>
</div>
<div class="col-md-3 col-sd-5 thumbnail">
  GH
  <%= line_chart @gh_data, height: "200px" %>
</div>
<div class="col-md-3 col-sd-5 thumbnail">
  NO2
  <%= line_chart @no2_data, height: "200px" %>
</div>
<div class="col-md-3 col-sd-5 thumbnail">
  NO3
  <%= line_chart @no3_data, height: "200px" %>
</div>